
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: black;
    padding: 10px;  
}

label {
    color: white;
    margin-right: 10px;  
}

button#reset {
    background-color: rgb(68, 68, 207);
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;  
}

button#pause {
    background-color: rgb(68, 68, 207);
    color: white;
    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
    margin-right: 10px;
    width: 50px;
}
select {
    margin-right: 10px;  
}


.header {
    text-align: center;
}
